{% extends "base.html" %}

{% load static %}

{% block dynamicContent %}
    <h1>Acerca de mí</h1>
    <br>

    <div class="cont-flex"><br>

        <img src="/media/images/about_me/profile.png" alt="Mi foto" class='imgCircle'>
        <p>Hola, mi nombre es Aldana Romero y estoy estudiando Python en Coder.
            <br>
            <br>
            Como proyecto final armé esta web donde se pueden escribir artículos con imagenes, editarlos y leer lo que
            crean diferentes usuarios. Además de mandar mensajes entre usuarios
            <br>
            <br>
            Si deseas ponerte en contacto conmigo, puedes enviar un correo electrónico a <a
                    href="mailto:aldi.rome@gmail.com">aldi.rome@gmail.com</a></p>
    </div>

{% endblock %}
